.detailpage {
    .content {
        .product-card {
            display: flex;
            flex-direction: row;
            margin-top: 5vh;
            padding: 5vh;
            .carousel-item {
                padding: 8vh;
                img {
                    max-width: 25vw;
                    // height: 40vh;
                    border-radius: 10px;
                }
            }
            .carousel-container {
                display: 'block';
                width: 80%;
                height: 80%;
                padding: 0 5vh;
                overflow: hidden;
            }
            .product-info{
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: start;
                height: 400px; 
                width: 70%;
                a {
                    font-family: 'Roboto', sans-serif;
                    color: black;
                    text-decoration: none;
                }
                .product-price {
                    margin: 0;
                    font-weight: bold;
                    font-size: 1.8rem;
                    font-family: system-ui;

                    // for number
                }
                .product-discount {
                    margin-top: 0;
                    .original-price {
                        text-decoration: line-through;
                        color: rgb(147, 147, 147);
                    }
                }
                .product-stock {
                    font-size: large;
                    font-weight: bold;
                }
                .buttons {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    .btn {
                        margin: 5px 30px;
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: white;
                        border-radius: 30px;
                        max-width: 700px;
                    }
                    .buy-button{
                        background-color: #2b0eaf;       
                    }
                    .cart-button{
                        background-color: #3498ca;
                        &:hover {
                            background-color: #2b0eaf;
                        }
                    }
                }
            }
        }
    }
}