@import "../../variables.scss";

.cartpage {
    .cartpage__content {
        text-align: start;
        margin: 3rem 2rem;
        .header-container {
            margin: 1rem;
            .selectall-button {
            }
        }
        .cart-items-summary-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .cart-items-container {
                position: relative;
                width: 70%;
                margin: 1rem;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                .cart-item {
                    max-height: 175px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #f0f0f0;
                    border-radius: 5px;
                    margin: 1rem;
                    .anchor {
                        cursor: pointer;
                    }
                    .cart-item-checkbox {
                        width: 1%;
                        margin: 1rem;
                    }
                    .cart-item-image {
                        // height: 200px;
                        img{
                            padding: 1rem;
                            max-height: 200px;
                            max-width: 200px;
                            // width: auto;
                            // max-height: 200px;
                            // if image height is less than 200px, add padding to center the image, the way to do it is to add padding to the image

                            border-radius: 25px;
                        }

                    }
                    .cart-item-details {
                        // width: 65%;
                        // the rest
                        flex-grow: 1;
                        text-align: start;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 1rem;
                        .cart-item-name {
                            font-size: 1.5rem;
                            font-weight: bold;
                            .cart-item-price {
                                align-self: flex-start;
                                position: absolute;
                                right: 60px;
                                width: 10%;
                                // margin-top: 2rem;
                                // padding: 1.5rem 0;
                                .font {                            
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        .cart-item-quantity {
                            display: flex;
                            flex-direction: row;
                            align-items: start;
                            input{
                                margin: 0;
                                width: 50px;
                                border: 1px solid gray;
                                border-radius: 8px;
                            }
                        }
                        .cart-item-remove {
                            button{
                                padding-left: 0;
                                --bs-btn-padding-x: 0;
                            }
                        }

                    }
                }
            }
            .cart-summary-container{
                width: 30%;
                margin: 1rem;
                // font-weight: bold;
                color: #191919;
                .cart-summary-subcontainer {
                    background-color: $secondary-color;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    padding: 1rem;
                    //center
                    .detail-value {
                        float: right;
                    }
                    .cart-summary-detail {
 
                    }
                    .cart-summary-subtotal {
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding: 1rem 0;
                        border-top: 1px solid #f0f0f0;
                    }


                    .cart-summary-checkout {
                        text-align: center;
                        .btn {
                            background-color: #2256dc;
                            border: none;
                            border-radius: 3rem;
                            width: 90%;
                            height: 6vh;
                            font-weight: bold;
                        }
                    }

                }
            }
        }


    }
}