header {
    /* bargin */
    margin: 10px 30px;

    .navbar__items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* flex end */
        a {
            padding: 0 10px;
            color: black;
            font: bold 16px/1.5 Helvetica, Verdana, sans-serif;
            text-decoration: none;
            &:hover {
                /* lighter */
                color: gray
            }
        }

        .items-left {
            .home {
                padding: 0 10px;
                border-left: 1px solid #000;
                border-right: 1px solid #000;

            }
        }

        .items-right {
            // to the right
            margin-left: auto;
        }
    }
}

